html body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(125,40,51,1) 53%, rgba(0,0,0,1) 100%);
    display: block;
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    overflow-x: hidden;
}

html .container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

div {
    text-align: center;
    display: block;
}



